<html>

<head>
  <title>Vky's Blog</title>
</head>

<body>
  <h1>Welcome to Wish Raza a happy birthday</h1>
  <hr/>
  <p><% current_time = Time.now %></p>
  <p><% birthday_time = Time.new(2019, 04, 20) %></p>
  <% if (current_time > birthday_time)%>
    <h3>Happy Birthday Razuuu</h3>
  <% else %>
    <h3>
      <%= (birthday_time.to_i - current_time.to_i) / (60 * 60)%> hr |
      <%= (birthday_time.to_i - current_time.to_i) / (60)%> min |
      <%= ((birthday_time).to_i - (current_time).to_i)%> sec left for <i>Raza's birthday</i> to start
    </h3>
  <% end %>
  
  <p>
    <img src="https://scontent.flhe7-1.fna.fbcdn.net/v/t1.0-9/30708207_1717581061637893_1777589051444953088_o.jpg?_nc_cat=104&_nc_eui2=AeF3q3T80RydXQcGrbuADha9yb-cYMVcLbCXtTLE69ALhEJ5HfvOLX5JziBKFIr0BNNh0xJLa3T9ijkc15T56lkkJEieUtua2O-7r15p_1HxXA&_nc_ht=scontent.flhe7-1.fna&oh=38ad5bbcf45b2ebeea49757f3bdcda28&oe=5D2B15E7" alt="Sumail">
  </p>
  <p>
    Go to
    <%= link_to 'My blog', articles_path%> |OR|
    Know more about
    <%= link_to 'About', about_path %>
    me
  </p>
</body>

</html>