<html>

<head>
  <title>Vky's Blog</title>
</head>

<body>
  <h1>Welcome to Vky's Blog</h1>
  <hr/>
  <p>Current time = <%= current_time = Time.now %></p>
  <p>Birthday time = <%= birthday_time = Time.new(2019, 04, 20) %></p>
  <p>
    <%= (birthday_time.to_i - current_time.to_i) / (60 * 60 * 24)%> day
    <%= (birthday_time.to_i - current_time.to_i) / (60 * 60)%> hr
    <%= (birthday_time.to_i - current_time.to_i) / (60)%> min
    <%= ((birthday_time).to_i - (current_time).to_i)%> sec left
  </p>


  <p>Proud <b>sleeper and eater</b></p>
  <ul>
    <li>Always sluggish</li>
    <li>Love to play and watch <i>Dota</i> alooot</li>
  </ul>
  <h3>I wanna be like him:</h3>
  <p>
    <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.gosugamers.net%2Ffiles%2Fimages%2Ffeatures%2F2018%2Fjune%2Fsumail-smal.jpg" alt="Sumail">
  </p>
  <p>
    Go to
    <%= link_to 'My blog', articles_path%> |OR|
    Know more about
    <%= link_to 'About', about_path %>
    me
  </p>
</body>

</html>